* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Exo', serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
}

.logo {
  margin: .5rem; 
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex; 
  color: #ffffff;
}

.links li {
  list-style: none; 
}

.links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.links li:hover {
  text-decoration: underline;
  border: 2px solid white; 

}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .current {
  background-color: #ffffff;
  color: #000000; 
  border: 2px solid #000000; 
  text-decoration: overline;
}

h1 {
  font-size: 30px; 
  padding-top: 10px;
  text-align:center;
}

p, h2 {
  padding-left: 10px; 
}

footer {
  border: 2px solid black;
  margin: 10px 0;
}

.logo {
  animation-duration: 10s;
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button, .connect-button {
  margin: auto;
  width: 50%;
  background-color:#415280; 
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
}

.button a, .connect-button a {
  text-decoration: wavy;
  color:#ffffff;
}

.button a:hover, .connect-button a:hover {
  text-decoration: underline;
  color:#ffffff;
}

.text-left {
  justify-content: flex-end;
}

.section {
  width: 100%;
}

.container {
  width: 80%;
  display: flex;
  margin: auto;
  padding-top: 20px;
}

.navbar-links {
  display:list-item;
}

.navbar {
  flex-direction: column;
  align-items:center;
}

.navbar ul {
  flex-direction: column;
  width: 100%;
}

.image-section {
  width: 25;
  display: flex;
  justify-content: center;
}

.image-section img {
  width: 50%;
  height: auto; 
  justify-content: center;
}

.grid {
  display: grid; 
  grid-template-columns: 1fr 2fr;
}

.navbar {
  grid-column: 1 / -1;
}

.projects-header {
  grid-column: 1 / -1;
  padding-bottom: 20px;
}

.mfans-pic {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  justify-content: center;
  justify-content: center;
}

.mfans-pic > img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 50%;
  align-self: center;
}

.mfans-desc {
  grid-row: 4 / 5;
  grid-column: 2 / -1;
}

.mfans-desc a, .reach-desc a, .shiny-desc a, .nflfastr-desc a, .github-desc a,
.bpa-desc a {
  margin: auto;
  width: 50%;
  background-color: #415280; 
  padding: 7px 14px;
  text-align: center;
  font-size: 12px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
  color: #ffffff; 
}

.mfans-desc h2, .cmu-desc h2, .shiny-desc h2, .nflfastr-desc h2, 
.gtihub-desc h2, .bpa-desc h2 {
  font-size: 22px; 
}

.mfans-desc a:hover, .reach-desc a:hover, .shiny-desc a:hover, .nflfastr-desc a:hover,
.github-desc a:hover, .cfbfastr-desc a:hover, .bpa-desc a:hover {
  background-color: #555;
  text-decoration: underline;
}

.mfans-desc li, .reach-desc li, .shiny-desc li, .nflfastr-desc li, 
.github-desc li, .cfbfastr-desc li, .bpa-desc li {
  padding: 10px 0px; 
  list-style-position: inside;
}

.reach-pic {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  justify-content: center;
  align-items:stretch;
}

.reach-pic > img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 50%;
  align-self: center; 
}

.reach-desc {
  grid-row: 3 / 4;
  grid-column: 2 / -1;
}

.reach-desc h2, .github-desc h2, .cfbfastr-desc h2,
.bpa-desc h2 {
  font-size: 22px; 
}

.cmu-pic {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.cmu-pic > img {
  max-width: 92%;
  max-height: 92%;
  border-radius: 50%;
  align-self: center; 
}

.cmu-desc {
  grid-row: 5 / 6;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.shiny-pic {
  grid-row: 6 / 7;
  grid-column: 1 / 2; 
  justify-content: center;
  align-items: center;
}

.shiny-pic > img {
  max-width: 92%;
  max-height: 92%;
  align-self: center; 
}

.shiny-desc {
  grid-row: 6 / 7;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.nflfastr-pic {
  grid-row: 7 / 8;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.nflfastr-desc {
  grid-row: 7 / 8;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.github-pic {
  grid-row: 8 / 9;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.github-desc {
  grid-row: 8 / 9;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.cfbfastr-pic {
  grid-row: 9 / 10;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.cfbfastr-desc {
  grid-row: 9 / 10;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.bpa-pic {
  grid-row: 10 / 11;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.bpa-desc {
  grid-row: 10 / 11;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.exp-header {
  grid-column: 1 / 3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.first-card, .second-card {
  grid-row: 3 / 4;
  padding: 16px; 
  text-align: center;
  background-color: #415280;
  margin-right: 20px;
  margin-left: 20px; 
  border-radius: 20px;
  color: #ffffff; 
}

.first-card h2, .second-card h2 {
  text-align: center; 
  padding-bottom: 10px; 
  font-size: 20px; 
}

.first-card p, .second-card p {
  padding-top: 10px; 
  text-align: left; 
}

.pff-button, .si-button {
  padding-top: 20px; 
  width: 60%;
  background-color:#555; 
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
}

.pff-button a, .si-button a {
  text-decoration: wavy;
  color:#ffffff;
}

.pff-button a:hover, .si-button a:hover {
  text-decoration: underline;
  color:#ffffff;
}

.mich-img > img {
  max-width: 200px;
  max-height: 200px; 
}

.resume embed {
  height: 1000px; 
  width: 90%; 
  margin-right: 20px;
  margin-left: 20px; 
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #000000; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  resize:both; 
}

input[type=submit] {
  margin: auto;
  width: 40%;
  background-color:#415280; 
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
  color: #ffffff; 
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #555;
  text-decoration: underline;
}

.form-box {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80%; 
  display: flex;
  margin: auto;
  padding-top: 20px;
}

.connect-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.connect-button {
  grid-column: 2 / -1;
}

.connect-button {
  width: 90%;
  margin-top: 40px; 
}

.connect-resume {
  margin-top: 20px; 
  grid-row: 1 /2;
  justify-content: center;
  align-items: center;
}

.connect-resume > img {
  height: 90%;
  width: 80%;
  align-self: center;
}

.connect-twitter {
  margin-top: 30px;
  grid-row: 2 /3;
  justify-content: center;
  align-items: center;
}

.connect-twitter > img {
  height: 90%;
  width: 80%;
  align-self: center;
}

.connect-linkedin {
  margin-top: 30px;
  grid-row: 3 /4;
  justify-content: center;
  align-items: center;
}

.connect-linkedin > img {
  height: 80%;
  width: 80%;
  align-self: center;
}

.skip a{
  background: white;
  left: 30px;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  top: -80px;
  position: absolute;
  }
  
  .skip a:focus{
    top: 10px; 
  }


@media screen and (min-width: 750px) {

  .grid {
    display: grid;
    align-items: center; /* left and right */
    justify-content: center; /* up and down */
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
  }

  .links ul {
    flex-direction: row;
    font-size: 20px; 
  }

  .container {
    width: 90%;
    display: flex;
    margin: auto;
    padding-top: 20px;
  }

  h1 {
    font-size: 40px; 
    padding-top: 10px;
    text-align:center;
  }

  h2 {
    font-size: 22px; 
  }

  p {
    font-size: 18px; 
  }

  .button, .connect-button {
    margin: auto;
    width: 50%;
    background-color:#415280; 
    padding: 14px 28px;
    text-align: center;
    font-size: 22px;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 4px 4px;
    text-decoration: none;
  }

.mfans-desc ul, .reach-desc ul, .shiny-desc ul, .nflfastr-desc ul, .github-desc ul,
  .bpa-desc ul {
  padding-left: 20px; 
}

.mfans-desc a, .reach-desc a, .shiny-desc a, .nflfastr-desc a, .github-desc a,
.bpa-desc a {
  margin: auto;
  width: 50%;
  background-color: #415280; 
  padding: 7px 14px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
  color: #ffffff; 
}

.mfans-desc h2, .cmu-desc h2, .shiny-desc h2, .nflfastr-desc h2, 
.gtihub-desc h2, .bpa-desc h2, .reach-desc h2, .github-desc h2,
.cfbfastr-desc h2 {
  font-size: 28px; 
  padding-left: 20px;
}

.mfans-desc p, .cmu-desc p, .shiny-desc p, .nflfastr-desc p, 
.gtihub-desc p, .bpa-desc p, .reach-desc p, .github-desc p,
.cfbfastr-desc p {
  font-size: 20px; 
  padding-left: 20px; 
}

.reach-pic > img {
  display: block;
  margin: auto; 
  width: 80%;
}

.mfans-pic > img, .cmu-pic > img, .shiny-pic > img,
.nflfastr-pic > img, .github-pic > img, .cfbfastr-pic > img,
.bpa-pic > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  align-items: center; /* left and right */
  justify-content: center; /* up and down */
}

.pff-button, .si-button {
  font-size: 20px; 
}

@media screen and (min-width: 1025px) {

  .navbar {

    background-color: #000000;
  }

  .links ul {
    flex-direction: row;
    font-size: 20px; 
  }

  .img-section img {
    height: 10%;
  }

}

}