* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Exo', serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
}

.logo {
  margin: .5rem; 
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex; 
  color: #ffffff;
}

.links li {
  list-style: none; 
}

.links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.links li:hover {
  text-decoration: underline;
  border: 2px solid white; 

}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .current {
  background-color: #ffffff;
  color: #000000; 
  border: 2px solid #000000; 
  text-decoration: overline;
}

h1 {
  font-size: 30px; 
  padding-top: 10px;
  text-align:center;
}

p, h2 {
  padding-left: 10px; 
}

footer {
  border: 2px solid black;
  margin: 20px 0;
  margin-top:auto; 
}

.logo {
  animation-duration: 10s;
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button, .connect-button-resume, 
.connect-button-twitter, .connect-button-link {
  margin: auto;
  width: 50%;
  background-color:#415280; 
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
  color: #ffffff; 
}

.button a, .connect-button-resume a,
.connect-button-twitter a, .connect-button-resume a {
  text-decoration: wavy;
  color:#ffffff;
}

.button a:hover, .connect-button a:hover,
.connect-button-twitter a, .connect-button-link a {
  text-decoration: underline;
  color:#ffffff;
}

.text-left {
  justify-content: flex-end;
}

.section {
  width: 100%;
}

.container {
  width: 80%;
  display: flex;
  margin: auto;
  padding-top: 20px;
}

.navbar-links {
  display:list-item;
}

.navbar {
  flex-direction: column;
  align-items:center;
}

.navbar ul {
  flex-direction: column;
  width: 100%;
}


.grid {
  display: grid; 
  grid-template-columns: 1fr 2fr;
}

.flip-card {  
  background-color: transparent;
  width: 200px;
  height: 160px;
  border-radius: 10px;
  margin-top: 30px;
  grid-row: 2 /3;
}


.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  border-radius: 10px;
}

.flip-card-back {
  color: #000000;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.navbar {
  grid-column: 1 / -1;
}

.projects-header {
  grid-column: 1 / -1;
  padding-bottom: 20px;
}

.parallax {
  background-image: url("../images/par.png");
  padding-top: 20px; 
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mfans-pic {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  justify-content: center;
  justify-content: center;
}

.mfans-pic > img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 50%;
  align-self: center;
}

.mfans-desc {
  grid-row: 4 / 5;
  grid-column: 2 / -1;
}

.mfans-desc a, .reach-desc a, .shiny-desc a, .nflfastr-desc a, .github-desc a,
.bpa-desc a {
  margin: auto;
  width: 50%;
  background-color: #415280; 
  padding: 7px 14px;
  text-align: center;
  font-size: 12px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
  color: #ffffff; 
}

.happy {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
  margin: auto;
  width: 50%;
  background-color:#415280; 
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  justify-content:left; 
  box-shadow: 0 4px 4px;
  text-decoration: none;
  color: #ffffff; 
}

.sad {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
  margin: auto;
  width: 50%;
  background-color:#415280; 
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  justify-content:left; 
  box-shadow: 0 4px 4px;
  text-decoration: none;
  color: #ffffff; 
}

.feeling {
  padding-left: 80px;
  padding-right: 80px; 
}

.mfans-desc h2, .cmu-desc h2, .shiny-desc h2, .nflfastr-desc h2, 
.gtihub-desc h2, .bpa-desc h2 {
  font-size: 22px; 
}

.mfans-desc a:hover, .reach-desc a:hover, .shiny-desc a:hover, .nflfastr-desc a:hover,
.github-desc a:hover, .cfbfastr-desc a:hover, .bpa-desc a:hover {
  background-color: #555;
  text-decoration: underline;
}

.mfans-desc li, .reach-desc li, .shiny-desc li, .nflfastr-desc li, 
.github-desc li, .cfbfastr-desc li, .bpa-desc li {
  padding: 10px 0px; 
  list-style-position: inside;
}

.reach-pic {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  justify-content: center;
  align-items:stretch;
}

.reach-pic > img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 50%;
  align-self: center; 
}

.reach-desc {
  grid-row: 3 / 4;
  grid-column: 2 / -1;
}

.reach-desc h2, .github-desc h2, .cfbfastr-desc h2,
.bpa-desc h2 {
  font-size: 22px; 
}

.cmu-pic {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.cmu-pic > img {
  max-width: 92%;
  max-height: 92%;
  border-radius: 50%;
  align-self: center; 
}

.cmu-desc {
  grid-row: 5 / 6;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.shiny-pic {
  grid-row: 6 / 7;
  grid-column: 1 / 2; 
  justify-content: center;
  align-items: center;
}

.shiny-pic > img {
  max-width: 92%;
  max-height: 92%;
  align-self: center; 
}

.shiny-desc {
  grid-row: 6 / 7;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.nflfastr-pic {
  grid-row: 7 / 8;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.nflfastr-desc {
  grid-row: 7 / 8;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.github-pic {
  grid-row: 8 / 9;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.github-desc {
  grid-row: 8 / 9;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.cfbfastr-pic {
  grid-row: 9 / 10;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.cfbfastr-desc {
  grid-row: 9 / 10;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.bpa-pic {
  grid-row: 10 / 11;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
}

.bpa-desc {
  grid-row: 10 / 11;
  grid-column: 2 / -1;
  padding: 5px 5px; 
}

.exp-header {
  grid-column: 1 / 3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.first-card, .second-card {
  grid-row: 3 / 4;
  padding: 16px; 
  text-align: center;
  background-color: #415280;
  margin-right: 20px;
  margin-left: 20px; 
  border-radius: 20px;
  color: #ffffff; 
}

.first-card h2, .second-card h2 {
  text-align: center; 
  padding-bottom: 10px; 
  font-size: 20px; 
}

.first-card p, .second-card p {
  padding-top: 10px; 
  text-align: left; 
}

.pff-button, .si-button {
  padding-top: 20px; 
  width: 60%;
  background-color:#555; 
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
}

.pff-button a, .si-button a {
  text-decoration: wavy;
  color:#ffffff;
}

.pff-button a:hover, .si-button a:hover {
  text-decoration: underline;
  color:#ffffff;
}

.mich-img > img {
  max-width: 200px;
  max-height: 200px; 
}

.resume embed {
  height: 1000px; 
  width: 90%; 
  margin-right: 20px;
  margin-left: 20px; 
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #000000; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  resize:both; 
}

input[type=submit] {
  margin: auto;
  width: 40%;
  background-color:#415280; 
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
  color: #ffffff; 
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #555;
  text-decoration: underline;
}

.form-box {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80%; 
  display: flex;
  margin: auto;
  padding-top: 20px;
}

.connect-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.connect-button {
  grid-column: 2 / -1;
}

.connect-button {
  width: 90%;
  margin-top: 40px; 
}

.connect-resume {
  margin-top: 20px; 
  grid-row: 1 /2;
  justify-content: center;
  align-items: center;
}

.connect-resume > img {
  height: 90%;
  width: 80%;
  align-self: center;
}

.connect-twitter {
  grid-row: 2 /3;
  justify-content: center;
  align-items: center;
}

.flip-card > img {
  height: 90%;
  width: 80%;
  align-self: center;
}

.connect-linkedin {
  margin-top: 30px;
  grid-row: 3 /4;
  justify-content: center;
  align-items: center;
}

.connect-linkedin > img {
  height: 80%;
  width: 80%;
  align-self: center;
}

.skip a{
  background: white;
  left: 30px;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  top: -80px;
  position: absolute;
  }
  
  .skip a:focus{
    top: 10px; 
  }

  .connect-button-resume {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
  }

  .connect-button-twitter {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
  }

  .connect-button-link {
    grid-row: 3 / 4;
    grid-column: 2 / -1;
  }

  .contact-text {
    padding-left: 80px;
    padding-right: 80px; 
    padding-bottom: 30px; 
  }



@media screen and (min-width: 750px) {

  .grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
  }

  .navbar {
    grid-column: 1 / -1;
  }
  
  .projects-header {
    grid-column: 1 / -1;
    padding-bottom: 20px;
  }

  .reach-pic {
    grid-row: 3 / 4; 
    grid-column: 1 / 2; 
  }

  .reach-pic > img {
    display: block;
    margin: auto; 
    width: 60%;
  }

  .reach-desc {
    padding-left: 10px; 
    grid-row: 4 / 5;
    grid-column: 1 / 2; 
  }

  .mfans-pic {
    grid-row: 3 / 4;
    grid-column: 2 / 3; 
  }

  .cmu-pic {
    padding-top: 30px; 
    grid-row: 5 / 6;
    grid-column: 1 / 2; 
  }

  .cmu-desc {
    padding-left: 10px; 
    grid-row: 6 / 7;
    grid-column: 1 / 2; 
  }

  .shiny-pic {
    padding-top: 30px; 
    grid-row: 5 / 6;
    grid-column: 2 / 3; 
  }

  .shiny-desc {
    grid-row: 6 / 7;
    grid-column: 2 / 3; 
    padding-right: 20px; 
  }

  .nflfastr-pic {
    padding-top: 10px; 
    grid-row: 7 / 8;
    grid-column: 1 / 2;
  }

  .nflfastr-desc {
    padding-left: 10px; 
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }

  .github-pic {
    padding-top: 10px;
    grid-row: 7 / 8;
    grid-column: 2 / 3;
  }

  .github-desc {
    grid-row: 8 / 9;
    grid-column: 2 / 3; 
    padding-right: 20px; 
  }

  .cfbfastr-pic {
    padding-top: 10px; 
    grid-row: 9 / 10;
    grid-column: 1 / 2;
  }

  .cfbfastr-desc {
    padding-left: 10px; 
    grid-row: 10 / 11;
    grid-column: 1 / 2; 
  }

  .bpa-pic {
    padding-top: 10px; 
    grid-row: 9 / 10;
    grid-column: 2 / 3;
  }

  .bpa-desc {
    grid-row: 10 / 11;
    grid-column: 2 / 3; 
    padding-right: 20px; 
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
  }

  .links ul {
    flex-direction: row;
    font-size: 20px; 
  }

  .container {
    width: 90%;
    display: flex;
    margin: auto;
    padding-top: 20px;
  }

  h1 {
    font-size: 40px; 
    padding-top: 10px;
    text-align:center;
  }

  h2 {
    font-size: 18px; 
  }

  p {
    font-size: 18px; 
  }

  .button, .connect-button {
    margin: auto;
    width: 50%;
    background-color:#415280; 
    padding: 14px 28px;
    text-align: center;
    font-size: 22px;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 4px 4px;
    text-decoration: none;
  }

.mfans-desc ul, .reach-desc ul, .shiny-desc ul, .nflfastr-desc ul, .github-desc ul,
  .bpa-desc ul {
  padding-left: 20px; 
}

.mfans-desc a, .reach-desc a, .shiny-desc a, .nflfastr-desc a, .github-desc a,
.bpa-desc a {
  margin: auto;
  width: 50%;
  background-color: #415280; 
  padding: 7px 14px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 4px;
  text-decoration: none;
  color: #ffffff; 
}

.mfans-desc h2, .cmu-desc h2, .shiny-desc h2, .nflfastr-desc h2, 
.gtihub-desc h2, .bpa-desc h2, .reach-desc h2, .github-desc h2,
.cfbfastr-desc h2 {
  font-size: 28px; 
  padding-left: 20px;
}

.mfans-desc p, .cmu-desc p, .shiny-desc p, .nflfastr-desc p, 
.gtihub-desc p, .bpa-desc p, .reach-desc p, .github-desc p,
.cfbfastr-desc p {
  font-size: 20px; 
  padding-left: 20px; 
}

.mfans-pic > img, .cmu-pic > img, .shiny-pic > img,
.nflfastr-pic > img, .github-pic > img, .cfbfastr-pic > img,
.bpa-pic > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  align-items: center; /* left and right */
  justify-content: center; /* up and down */
}

.pff-button, .si-button {
  font-size: 20px; 
  }

  .happy {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
    width: 15%;
    background-color:#415280; 
    padding: 14px 28px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 4px;
    text-decoration: none;
    color: #ffffff; 
  }

  .sad {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
    width: 15%;
    background-color:#415280; 
    padding: 14px 28px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 4px;
    text-decoration: none;
    color: #ffffff; 
    margin-left: 250px; 
    margin-top: -50px;
  }

  .feeling {
    padding-left: 80px;
    padding-right: 80px; 
  }

}

@media screen and (min-width: 1025px) {

  .navbar {
    background-color: #000000;
  }

  .links ul {
    flex-direction: row;
    font-size: 20px; 
  }

  .img-section img {
    height: 10%;
  }

  .grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .reach-pic {
    grid-row: 3 / 4;
    grid-column: 1 / 2; 
  }

  .reach-desc {
    padding-right: 10px; 
    grid-row: 4 / 5;
    grid-column: 1 /2;
  }

  .mfans-pic {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .mfans-desc {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  .cmu-pic {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  .cmu-desc {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
  }

  .shiny-pic {
    grid-row: 3 / 4;
    grid-column: 4 / -1; 
  }

  .shiny-desc {
    grid-row: 4 / 5;
    grid-column: 4 / -1;
  }

  .nflfastr-pic {
    padding-top: 15px;
    grid-row: 5 / 6;
    grid-column: 1 / 2; 
  }

  .nflfastr-desc {
    grid-row: 6 / 7;
    grid-column: 1 / 2; 
  }

  .github-pic {
    padding-top: 15px;
    grid-row: 5 / 6;
    grid-column: 2 /3; 
  }

  .github-desc {
    grid-row: 6 / 7;
    grid-column: 2 / 3; 
  }

  .cfbfastr-pic {
    padding-top: 15px;
    grid-row: 5 / 6;
    grid-column: 3 / 4;
  }
  
  .cfbfastr-desc {
    grid-row: 6 / 7;
    grid-column: 3 / 4;
  }

  .bpa-pic {
    padding-top: 15px;
    grid-row: 5 / 6;
    grid-column: 4 / -1;
  }

  .bpa-desc {
    grid-row: 6 / 7;
    grid-column: 4 / -1;
  }

  .image-section {
    width: 25;
    display: flex;
    justify-content: center;
  }
  
  .image-section img {
    width: 50%;
    height: auto; 
    justify-content: center;
  }

  .image-section > img {
    width: 30%; 
  }

  .exp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .exp-header {
    grid-column: 1 / -1;
  }

  .first-card {
    grid-column: 1 / 2;
    position: relative;
  }

  .second-card {
    grid-column: 2 / -1;
    position: relative;
  }

  .first-card h2, .second-card h2 {
    text-align: center; 
    padding-bottom: 10px; 
    font-size: 30px; 
  }
  
  .first-card p, .second-card p {
    padding-top: 10px; 
    text-align: left; 
    padding-bottom: 50px; 
  }

  .pff-button {
    position: absolute;
    bottom: 10px; 
    margin: auto; 
    padding-left: auto;
    padding-right: auto; 
  }

  .si-button {
    position: absolute;
    bottom: 8px;
    margin: auto; 
  }

  .connect-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-content: center;
    align-items: center;
  }

  .connect-resume {
    grid-row: 2 / 3;
    grid-column: 1 / 2; 
  } 

  .connect-button-resume {
    grid-row: 3 / 4;
    grid-column: 1 / 2; 
  }

  .connect-twitter {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding-left: 120px;
    margin-top: 30px;
  }

  .connect-button-twitter {
    grid-row: 3 /4;
    grid-column: 2 / 3;
  }

  .connect-linkedin {
    grid-row: 2 /3;
    grid-column: 3 / -1;
  }

  .connect-button-link {
    grid-row: 3/ 4;
    grid-column: 3 / -1;
  }

  .connect-linkedin > img, .connect-resume > img,
  .connect-twitter > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 40%;
  }

  .happy {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
    width: 15%;
    background-color:#415280; 
    padding: 14px 28px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 4px;
    text-decoration: none;
    color: #ffffff; 
  }

  .sad {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
    width: 15%;
    background-color:#415280; 
    padding: 14px 28px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 4px;
    text-decoration: none;
    color: #ffffff; 
    margin-left: 250px; 
    margin-top: -50px;
  }

  .feeling {
    padding-left: 80px;
    padding-right: 80px; 
  }

}

@media screen and (prefers-reduced-motion: reduce) {
  .logo {
    animation: none; 
  }
  .parallax {
    background-attachment:scroll !important;
    background-position:center !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
  }
}
