* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white; 
}

.logo {
  margin: .5rem; 
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex; 
}

nav li {
  list-style: none; 
}

nav li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

nav li:hover {
  text-decoration: underline;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}

nav a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  nav {
    display: none; 
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }
}